@{
    Layout = null;
    string str = Session["USERNAME"].ToString();
    str = str.Substring(2);
    ViewBag.unamess = "SK" + str;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change Password</title>
    <link rel="icon" type="image/png" href="~/Login_v1/images/icons/favicon.ico" />
    <link href="~/adminlayout/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.24/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.24/datatables.min.js"></script>

    <script>
        $(function () {

            $("#datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                showOn: "both",
                buttonImageOnly: false,
                buttonText: "<i class=\"fa fa-calendar\" aria-hidden=\"true\"> Select Date</i>"
            });


            $("#datepicker").datepicker("setDate", new Date());
        });
    </script>
</head>
<body style="background-color: gray">
    <div class="container">
        <div class="row text-center" hidden>
            <div class="col-lg">
                <label for="datepicker">DATE</label>
                <input type="text" id="datepicker">
                <input hidden class="clock" id="clock" />
                <input hidden type="text" id="txt1" />
                <button class="ui-button" onclick="txt1fx()" type="submit"><strong>Search</strong></button>
                <button class="ui-button" onclick="txt1fx()" type="submit"><strong>Exit</strong></button>
            </div>
        </div>

        <div class="row text-center ">
            <div class="col-lg">
                <h4 class="font-weight-bold text-white">Change Password</h4>
                <h6 class="font-weight-bold">~: @ViewBag.unamess :~</h6>
                <button class="ui-button" onclick="txt1fx()" type="submit"><strong>Exit</strong></button>
                <hr style="height: 1px; color: white; background-color: white;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center" id="areamain">
                <div class="form-group">
                    <label for="formGroupExampleInput"><strong>OLD PASSWORD</strong></label>
                    <input required id="formGroupExampleInput" class="form-control text-center" type="text" maxlength="5" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2"><strong>NEW PASSWORD</strong></label>
                    <input required id="formGroupExampleInput2" class="form-control text-center" type="text" maxlength="5" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput3"><strong>CONFIRM PASSWORD</strong></label>
                    <input required id="formGroupExampleInput3" class="form-control text-center" type="text" maxlength="5" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <strong><label id="errormsg" class="text-danger"></label></strong><br />
                <button type="submit" class="btn btn-primary" onclick="matchPassword()">Submit</button>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>


    <script>
        function matchPassword() {
            var oldpw = document.getElementById("formGroupExampleInput").value;
            var pw1 = document.getElementById("formGroupExampleInput2").value;
            var pw2 = document.getElementById("formGroupExampleInput3").value;

            if (oldpw == "") {
                document.getElementById("errormsg").innerHTML = "Old Password Required";
            }
            else {
                if (pw1 == "") {
                    document.getElementById("errormsg").innerHTML = "New Password Required";
                }
                else {
                    if (pw2 == "") {
                        document.getElementById("errormsg").innerHTML = "Confirm Password Required";
                    }
                    else {

                        if (oldpw == pw1) {
                            document.getElementById("errormsg").innerHTML = "New Passwords Must not Match Old One";
                        }
                        else {

                            if (pw1 != pw2) {
                                document.getElementById("errormsg").innerHTML = "Passwords did not match";
                            } else {

                                $.post("/FRENCHISEdesk/changepass", { passtext: pw1, upass: oldpw }, function (json) {

                                    if (json == "changed") {
                                        document.getElementById("errormsg").innerHTML = "Password Changed Successfully";
                                    }
                                    else {

                                        document.getElementById("errormsg").innerHTML = "Old Password is Wrong";
                                    }

                                });

                            }
                        }
                    }
                }
            }
        }
    </script>
    <script>
        function txt1fx() {
            location.href = "/FRENCHISEdesk/DASHBOARD";
        }
            </script>

    <script>
        function clock() {// We create a new Date object and assign it to a variable called "time".
            var timestamps;
            var time;
            $.get("https://vip.timezonedb.com/v2.1/get-time-zone?key=BSWYV6J8NXWD&format=json&by=zone&zone=Asia/Kolkata")
        .done(function (json) {
            console.log(json);
            timestamps = json.formatted;
            timeampm = new Date(timestamps);

            time = new Date(timestamps),

            // Access the "getHours" method on the Date object with the dot accessor.
                hours = time.getHours(),

            // Access the "getMinutes" method with the dot accessor.
                minutes = time.getMinutes(),


            years = timestamps.substring(0, 4);
            months = timestamps.substring(5, 7);
            day = timestamps.substring(8, 10);
            dates = day + "/" + months + "/" + years;
            dates2 = months + "/" + day + "/" + years;

            document.getElementById("txt1").value = dates;
            seconds = time.getSeconds();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'

            document.getElementById("clock").value = harold(hours) + ":" + harold(minutes) + ":" + harold(seconds) + " " + ampm;
            function harold(standIn) {
                if (standIn < 10) {
                    standIn = '0' + standIn
                }
                return standIn;
            }
        });

        }
        setInterval(clock, 1000);
    </script>


</body>
</html>