@using MvcApplication1.Models

@{
    Layout = null;
    string str = Session["USERNAME"].ToString();
    str = str.Substring(2);
    ViewBag.unamess = "SK" + str;
}


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>perchasedetails</title>
    <link href="~/adminlayout/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.24/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.24/datatables.min.js"></script>

  <script>
      $(function () {

          $("#datepicker").datepicker({
              dateFormat: "dd-mm-yy",
              showOn: "both",
              buttonImageOnly: false,
              buttonText: "<i class=\"fa fa-calendar\" aria-hidden=\"true\"> Select Date</i>"
          });


          $("#datepicker").datepicker("setDate", new Date());
      });
  </script>
</head>
<body style="background-color: gray" class="jumbotron">
    <div class="row text-center" hidden>
        <div class="col-lg">
            <label for="datepicker">DATE</label>
            <input type="text" id="datepicker">
            <input hidden class="clock" id="clock" />
            <input hidden type="text" id="txt1" />
            <script>
                function txt1fx() {
                    location.href = "/FRENCHISEdesk/program";
                }
            </script>
            <button class="ui-button" onclick="txt1fx()" type="submit"><strong>Search</strong></button>
            <button class="ui-button" onclick="txt1fx()" type="submit"><strong>Exit</strong></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg text-center align-middle">
            <h4 class="font-weight-bold text-white">LUCKY DRAW ( @ViewBag.unamess )</h4><button class="ui-button" onclick="txt1fx()" type="submit"><strong>Exit</strong></button>
            <hr style="height: 1px; color: white; background-color: white;">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <span><strong>From Date : </strong>
                        <input name="min" id="min" type="text"></span>
                </div>
                <div class="col-sm-4">
                    <span><strong>To Date : </strong>
                        <input name="max" id="max" type="text"></span>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive table-bordered">
            <table id="example" class="display table table-sm" style="width: 100%">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">DATE</th>
                        <th class="text-center">DRAW TIME</th>
                        <th class="text-center">YANTRA</th>
                        <th class="text-center">JACKPOT</th>
                    </tr>
                </thead>
                <tbody class="font-weight-bold">
                    @{
                        int i = 0;
                        foreach (GAMEPOOL item in Model as IEnumerable<MvcApplication1.Models.GAMEPOOL>)
                        {
                            i++;
                            var fuidvar = Convert.ToUInt32(Session["USERID"]);
                            if (fuidvar != null)
                            {
                                <tr>
                                    <td class="text-center">@i</td>
                                    <td class="text-center">@item.GPDATE</td>
                                    <td class="text-center">@item.GSENDTIME</td>
                                    @if (item.YID != null)
                                    {
                                        if (item.YID == 1)
                                        {
                                            <td class="text-center">Shree</td>
                                        }
                                        if (item.YID == 2)
                                        {
                                            <td class="text-center">Vashikaran</td>
                                        }
                                        if (item.YID == 3)
                                        {
                                            <td class="text-center">Suarshan</td>
                                        }
                                        if (item.YID == 4)
                                        {
                                            <td class="text-center">Vastu</td>
                                        }
                                        if (item.YID == 5)
                                        {
                                            <td class="text-center">Planet</td>
                                        }
                                        if (item.YID == 6)
                                        {
                                            <td class="text-center">Love</td>
                                        }
                                        if (item.YID == 7)
                                        {
                                            <td class="text-center">Tara</td>
                                        }
                                        if (item.YID == 8)
                                        {
                                            <td class="text-center">Grah</td>
                                        }
                                        if (item.YID == 9)
                                        {
                                            <td class="text-center">Matsya</td>
                                        }
                                        if (item.YID == 10)
                                        {
                                            <td class="text-center">Meditation</td>
                                        }
                                    }
                                    
                                    @if (item.JACKPOT != null)
                                    {
                                        if (item.JACKPOT == "1")
                                        {                                    
                                            <td class="text-center">NO</td>
                                        }
                                        else
                                        {                                    
                                            <td class="text-center">YES</td>
                                        }

                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({ "order": [] });
            $("#example_filter").css("display", "none");  // hiding global search box
            $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = $('#min').datepicker("getDate");
            var max = $('#max').datepicker("getDate");
            var startDate = new Date(data[1]);
            if (min == null && max == null) { return true; }
            if (min == null && startDate <= max) { return true; }
            if (max == null && startDate >= min) { return true; }
            if (startDate <= max && startDate >= min) { return true; }
            return false;
        }
        );


            $("#min").datepicker({
                dateFormat: "dd-mm-yy",
                showOn: "both",
                buttonImageOnly: false,
                buttonText: "<i class=\"fa fa-calendar\" aria-hidden=\"true\"></i>",
                onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true
            });
            $("#max").datepicker({
                dateFormat: "dd-mm-yy",
                showOn: "both",
                buttonImageOnly: false,
                buttonText: "<i class=\"fa fa-calendar\" aria-hidden=\"true\"></i>",
                onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true
            });
            var table = $('#example').DataTable();

            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').change(function () {
                table.draw();
            });
        });



    </script>

    <script>
        function clock() {// We create a new Date object and assign it to a variable called "time".
            var timestamps;
            var time;
            $.get("https://vip.timezonedb.com/v2.1/get-time-zone?key=BSWYV6J8NXWD&format=json&by=zone&zone=Asia/Kolkata")
        .done(function (json) {
            console.log(json);
            timestamps = json.formatted;
            timeampm = new Date(timestamps);

            time = new Date(timestamps),

            // Access the "getHours" method on the Date object with the dot accessor.
                hours = time.getHours(),

            // Access the "getMinutes" method with the dot accessor.
                minutes = time.getMinutes(),


            years = timestamps.substring(0, 4);
            months = timestamps.substring(5, 7);
            day = timestamps.substring(8, 10);
            dates = day + "/" + months + "/" + years;
            dates2 = months + "/" + day + "/" + years;

            document.getElementById("txt1").value = dates;
            seconds = time.getSeconds();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'

            document.getElementById("clock").value = harold(hours) + ":" + harold(minutes) + ":" + harold(seconds) + " " + ampm;
            function harold(standIn) {
                if (standIn < 10) {
                    standIn = '0' + standIn
                }
                return standIn;
            }
        });

        }
        setInterval(clock, 1000);
    </script>


</body>
</html>